p {
    color:white;
}
address{
	color: white;
}
#cabecera{  

 	text-align: center;
	position: absolute;
    top: 1%;
    left: 0.5%;
    height: 16%;
    width: 99%;
    
}
#masculina{
	position:absolute;
	top:23%;
	left:0.5%;
	width:16.5%;
	height: 76%;
	color: white;
}
#femenina{
	position:absolute;
	top:23%;
	left:83%;
	width:16.5%;
	height: 76%;
	color: white;
}
#contenido{
	position: absolute;
	top:23%;
	left:18%;
	width: 64%;
	height:65%;
}
#piedepagina{
	position: absolute;
	top:89%;
	left:18%;
	height: 10%;
	width: 64%;
}
.b{
    background-color: rgba(0,0,255,0.35);
    
}
.a{
    background-color: transparent;

}
.c{
	background-color: rgba(0,0,0,0.5);
}
.z{

	font-size: 25px;
	font-family:Arial;
	text-shadow: 20px 20px 20px red ;	
}
.banderas{

	width: 15%;
	left:20%;
	position: absolute;
}
.caras{
	top: 5%;
	width: 15%;
	left: 10%;
	position: absolute;
}
.f{
	width: 99%;
	height: 100%;
}
.botones{
	top: 18%;
	width:20%;
	height: 4%;
	left: 8%;
	background-color:white;
	position: absolute;
}
.botones1{
	top: 18%;
	width:20%;
	height: 4%;
	left:30%;
	background-color: #1baef3 ;
	position: absolute;
}
.botones2{
	top: 18%;
	width:20%;
	height: 4%;
	left:52%;
	background-color: #3577cb ;
	position: absolute;
}
.botones3{
	top: 18%;
	width:20%;
	height: 4%;
	left: 74%;
	background-color:red;
	position: absolute;
}
